html
  head
    title='Phreemon Test'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Phreemon Test Build
        p Lets see how this automated build process works... 
        p Credit to Nigel Poulton for everything on this page.
          a.btn.btn-primary(href="http://intechwetrustpodcast.com") Podcast
        p
